# ~/.config/systemd/user/xremap.service
[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=xremap /home/matthewuser/config/xremap.yml --watch`
